# Python bytecode files
*.pyc
__pycache__/

# Virtual environment
venv/

# Django secrets
*.env

# Database
db.sqlite3

# Static files collected by collectstatic
/static/

# VS Code files
.vscode/

# IDE files
.idea/

# Logs
*.log